extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  -
    var pictures = {
    "assets/images/unicorn.png": "(min-width: 800px)",
    "assets/images/horse.png": "(min-width: 1000px)"
    }
  +picturesOptimization('example-pictures', pictures, 'assets/images/horse.png', 'Horse or Unicorn')